@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@layer components {
  .btn {
    @apply hover:bg-neutral-content border-0;
  }
}
